@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SonOfCodSeafood.ViewModels.RegisterViewModel
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm("RegisterUser", "Account", FormMethod.Post))
{

    <label for="name">Name: </label>
    <input type="text" name="name" required />

    <label for="zipCode">Zip Code: </label>
    <input type="text" name="zipCode" required />

    @Html.LabelFor(model => model.Email)
    @Html.EditorFor(model => model.Email)

    @Html.LabelFor(model => model.Password)
    @Html.EditorFor(model => model.Password)


    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)

    <div class="input-field">


   <select name="fishIds" multiple>    
        @foreach (var fish in ViewBag.FishList)
        {
            <option value=@fish.Id>@fish.Name</option>
        }
    </select>
    </div>
    <input type="submit" value="Subscribe" class="btn btn-default" />
}
<form action="/Recipients/Unsubscribe" method="post">
    <label for="email">Email: </label>
    <input type="text" name="email" required />
    <input type="submit" value="Unsubscribe" class="btn btn-default" />
</form>
<form action="/Recipients/Unsubscribe" method="post">
    <label for="email">Email: </label>
    <input type="text" name="email" required />
    <input type="submit" value="Grant Admin" class="btn btn-info" />
</form>



