@*@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
@model SonOfCodSeafood.Models.Recipient
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm("SignUp", "Recipients", FormMethod.Post))
{

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Email)
    @Html.EditorFor(model => model.Email)

    @Html.LabelFor(model => model.ZipCode)
    @Html.EditorFor(model => model.ZipCode)

   <select name="fishIds" multiple>    
        @foreach (var fish in ViewBag.Fish)
        {
            <option value=@fish.Id>@fish.Name</option>
        }
    </select>


    <input type="submit" value="Sign Up" class="btn btn-default" />
}

