@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<SonOfCodSeafood.Models.Recipient>
<h1>Newsletter!</h1>
<h3>Newsletter Mailing List</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>

    </tr>
    @foreach (var recipient in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => recipient.Name)

            <td>
                @Html.DisplayFor(modelItem => recipient.ZipCode)
            </td>
 
            <td>        
             <form action="/Recipients/UnsubscribeUser" method="post">
                 <input type="hidden" value="@recipient.Id" name="RecipientId"/>
                <input type="submit" value="Remove" class="btn btn-default" />
             </form>
            </td>
            @if (ViewBag.IsSuperAdmin)
            {
            <td>
                @if(recipient.ApplicationUser.Roles.FirstOrDefault( r=> r.RoleId=="1")==null)
                {
                    <form action="/Account/GrantAdmin" method="post">
                        <input type="hidden" value="@recipient.Id" name="RecipientId" />
                        <input type="submit" value="Grant Admin" class="btn btn-info" />
                    </form>
                }
            </td>
            }

        </tr>
    }
</table>
