@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<SonOfCodSeafood.Models.Recipient>
<h1>Newsletter!</h1>
<h3>Newsletter Mailing List</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>

    </tr>
    @foreach (var recipient in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => recipient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => recipient.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => recipient.ZipCode)
            </td>

            <td>
                @using (Html.BeginForm())
                {

                    <span onclick="return confirm('Are you sure you would like to remove this user from the mailing list?')"><a href="/Recipient/Delete?RecipientId=@recipient.Id">Delete</a> | </span> 
                    <span onclick="return confirm('Are you sure you would like to give this user administrative access?')"><a href="/Recipient/AddAdmin?RecipientId=@recipient.Id">Grant Admin Privileges</a></span>
                }
            </td>
        </tr>
    }
</table>
